<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Maslow_Post_Processor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Maslow_Post_Processor.My.MySettings>
            <setting name="RectX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RectY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HY" serializeAs="String">
                <value>0</value>
            </setting>
        </Maslow_Post_Processor.My.MySettings>
    </userSettings>
</configuration>
